.side_menu{

    .sub_icon{
        display: flex;
        align-items: center;
        margin: 15px 0px;
        .side_icon{
            width: 36px;
            height: 35px;
            border: 1px solid #2C3E50;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        i{
            font-size: 14px;
            color: $black_color;
            color: #627e8c;

        }
        }
            a:hover{
                cursor: pointer;
                color: $black_color;
                

            }
    }
    .sub_icon:hover{
        background-color: #ecf8ff;
        color: #2a79a6;
    }
    .item{
        border-top: 1px solid #c8cacb;
        padding: 5px 0px;
        max-width: 370px;
        .nav_item{
            display: flex;
            align-items: center;
            a{
                text-decoration: none;
                text-align: left;
                font-weight: 700;
                font-size: 14px;
                color: #627e8c;
                padding-left: 10px;
            }
            a:hover{
                cursor: pointer;
                color: none;
            }
            .nav_item p:nth-child(1){
                color: #627e8c;
            }
        }
        .nav_item a.active:focus{
            background-color: #edf9f3;
            color: #396;
        }
        .nav_item a.active{
            background-color: #edf9f3;
            color: #396;
        }
        .toggle_bar7{
            display: block;
            cursor: pointer;
            display: block;
            cursor: pointer;
            width: 35px;
            height: 35px;
            padding: 10px 5px 9px 4px;
            margin-left: 0px;
            .bar:nth-child(1){
                transform: translateX(0px) rotate(90deg);
                background-color: #627e8c;
                width: 14px;
            }
            .bar:nth-child(2){
                transform: translateY(-7px) rotate(180deg);
                width: 15px;
            }
            .bar{
                display: block;
                width: 20px;
                height: 2px;
                margin: 5px;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                background-color: #627e8c;
            }
        }
        .toggle_bar7:hover{
            border: 1px solid #2A79A6;
            border-radius: 5px;
            transition: 0.5s;
        }
        .toggle_bar7.active .bar:nth-child(1){
            opacity: 0;
        }
        .menu_item{
            padding: 5px;
        }
    }
    .sub_menu7{
        position: relative;
        height: 0px;
        overflow: hidden;
        transition: 0.5s ;
        // overflow-y: auto;
        margin-left: 20px;
    }
    .sub_menu7.active{
        height: 100px;
    }
}

.document{
    .diman_title{
        display: flex;
        gap: 20px;
        align-items: center;
        margin: 20px 0px 0px 0px;
        padding: 23px 0px 0px 0px;
        .plane_icon{
            width: 36px;
            height: 35px;
            border: 1px solid #2C3E50;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            i{
                font-size: 14px;
                color: $black_color;
                color: #627e8c;
            }
        }
    }
    .dimanche_devis{
        font-size: 20px;

    }
    .quoi_content{
        font-size: 16px;
        line-height: 25px;
        margin: 20px 20px 20px 70px;
    }
    .Petits{
        .Petits_images{
            display: flex;
            gap: 5px;
            padding: 10px 0px 20px 65px;
    
            .image_box{
                width: 450px;
                height: 350px;
                position: relative;
                img{
                    border-radius: 5px;
                }

                .image_overlay{
                    width: 448px;
                    height: 336px;
                    background-color: rgba(0, 0, 0, .45);
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    padding: 10px 10px 10px 10px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    opacity: 0;
                    i{
                        color: #ffffff;
                        font-size: 100px;
                        cursor: pointer;
                    }
                }


            }
            .image_box:hover .image_overlay{
                opacity: 1;
            }
            .image_box2{
                width: 100px;
                height: 350px;
                .images_boxes{
                    width: 100px;
                    height: 75px;
                    background: #000;
                    margin-bottom: 12px;
                    border-radius: 5px;
                    position: relative;
                    img{
                        border-radius: 5px;
                    }

                    .image_overlay2{
                        width: 100px;
                        height: 75px;
                        background-color: rgba(0, 0, 0, .45);
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        padding: 10px 10px 10px 10px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        opacity: 0;
                        z-index: 1;
                        i{
                            color: #ffffff;
                            font-size: 40px;
                            cursor: pointer;
                        }
                    }
                }
                .images_boxes:hover .image_overlay2{
                    opacity: 1;
                }
                
            }
        }
    }
}




@media only screen and (max-width: 1024px) {
    .document .Petits_images .image_box {
        width: 250px !important;
        height: 185px !important;
    }
    .document .Petits_images .image_box2 {
        width: 55px !important;
        height: 45px !important;
    }
    .document .Petits_images .image_box2 .images_boxes {
        width: 55px !important;
        height: 45px !important;
        margin-bottom: 2px !important;
    }

}


@media only screen and (max-width: 1024px) {
    .document .Petits .Petits_images .image_box img {
        border-radius: 5px;
        height: 185px;
    }
    .arrival {
        width: 350px;
        height: 400px;

       

    }
    .document .Petits .Petits_images .image_box .image_overlay {
        display: none;
    }
    .document .Petits .Petits_images .image_box2 .images_boxes .image_overlay2 {
        display: none;
    }
}